# Python
__pycache__/
*.pyc
*.egg-info/
.pytest_cache/

# colcon / ROS 2
build/
install/
log/

# Model dosyalari (buyuk - HubAI'den indirilir, models/ altina konur)
*.tar.xz
*.blob
*.onnx
*.pt

# Editor / OS
.vscode/
.idea/
*.swp
.DS_Store
.cache/
